#friend-display-link {
  text-align: center;
  display: block;
  background-color: burlywood;
  padding: 15px 0px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#friend-display-link i {
  color: tomato;
  padding: 5px 15px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 25px;
  margin-left: 15px;
  border-top: 1px solid black;
  padding: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen {
  background-color: burlywood;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 2s;
}
.splash-screen img {
  width: 500px;
  height: 500px;
  border-radius: 300px;
  justify-content: center;
  align-items: center;
}
