.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid burlywood;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
  opacity: 0.5;
}
.settings__setting-column:last-child {
}
